!
! Welcome to Revs0 network.
!
! All connections are monitored and recorded.
! Disconnect IMMEDIATELY if you are not an authorized user!
!
! Primary IP : {{ ansible_host }}
! VPN IP     : {{ vpn_host }}
!
